pipeline/08-Pipeline-StoredProcedure.json
{
	"name": "08-Pipeline-StoredProcedure",
	"properties": {
		"activities": [
			{
				"name": "LookupData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetCompanyName]",
						"storedProcedureParameters": {
							"pCustomerID": {
								"type": "Int32",
								"value": "277"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataworkspace24060_datapool_PoolActivityLog",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetCompanyName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CompanyName",
					"value": {
						"value": "@activity('LookupData').output.firstRow.CompanyName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetDefaultCompanyName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "CompanyName",
							"value": {
								"type": "String",
								"content": "Default"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"CompanyName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-30T07:40:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}